.navbarContainer {
  width: 100%;
  height: 7rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 2rem;
  background-image: -webkit-linear-gradient(
    129deg,
    rgb(16, 108, 160) 0%,
    rgb(33, 145, 173) 99%
  );
}
.navbarCenter {
  justify-self: end;
  padding-right: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.navbarCenter a {
  font-size: 2rem;
  font-weight: 600;
  
}
